/* Overall */

a {
  color: black !important;
  text-decoration: none !important;
}

.navbar {
  background-color: #ffab76;
  padding: 1.3% 1% !important;
  font-size: 25px;
}

.logo {
  width: 150px;
  height: 120px;
}

.logoText {
  text-align: center;

}

.footer {
  background-color: #ffab76;
  padding: 3% 0 3% 3%;
  
}

.firstImage {
  width: 100%;
  height: auto;

}

.sidecomp {
    background-color: #BAFFB4;
    color:  #000 !important;
    text-decoration: none !important;

}

.sidecomp h3:hover {
  background-color: #BAABDA;
  transform: translate(-15px, -15px);
	border-color: #ffb7b7;
}

.vertical_dotted_line
{
    border-left: 3px dashed black;
    height: 300px;
} 

.homelogo {
  padding-top: 20px
}

.donateButton {
  background-color: #fffda2 !important;
  font-weight: bold;
  color: black !important;
  border: none !important;
  font-size: 2.5rem !important;
}


.faq {
  padding: 6% 10%;
  line-height: 3.5rem;
}

.faq  h6 {
  font-weight: 700;
}
/* ---------- */



/* shop */


.cardBody {
  background-color: #ffab76;
  color: white;
}

.displayItems {
    margin: auto;
    padding: 3% 1%;
    text-align: center;

}

.cardShop {
  border: none !important;

}

.yourCart {
    margin: auto;
    padding: 3% 1%;
    text-align: center;
}

/* --------------- */

/* Home page */

.homeImage {
  position: relative;
  
}

.homePetText {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 50%;
}

.homePetTextB {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.homeBacklink {
  background-color: #fffda2;
  border: none;
  border-radius: 10px;
  width: auto;
  padding: 14px 28px;
  font-size: large;
  font-weight: bold;
  color: #0b6b2b;
}

.homeBacklink:hover {
  background-color: blueviolet;
  color: white;
}

.homeNews {
  text-align: center;
  padding: 5% 3%;
}

.newsletter {
  padding: 3% 1%;
}

.newsletter input {
  display: inline; 
  margin: 1%;
  padding: 0 2%;
}

.homeButton {
  background-color: #fffda2;
  border: none;
  height: 30px;
  width: 15%;
  font-weight: bold;
  margin: 1%;
  padding: 0 2%;
}

.homeButton:hover {
  background-color: blueviolet;
  color: white;

}

/* -------------- */



/* About page */

.aboutPage {
  text-align: center;
  padding: 4% 2%;
}

.aboutNav {
  margin: auto;
  padding: 5% 3%;
  line-height: 2rem;
  text-align: left;
}

.aboutNav, Row {
  padding: 5% 5% !important;
}

.aboutdogpic {
  width: 300px;
  margin-left: 5%;
}

@media screen and (max-width: 600px ) {
  .aboutdogpic {
    width: fit-content;
  }
}

iframe {
  margin-left: 5%;
}


/* Adoption page */


.adoptionPage {
  background-color: #BAFFB4;
}

.adoptionNav {
  margin: auto;
  padding: 5% 0;
  line-height: 2rem;
}


.petHeadshotLink {
  justify-items: left;
  text-align: center;
  margin: 0 !important;
}

.petHeadshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 3% 0 !important;
}

.petButton {
  background-color: #ffab76;
  font-weight: bold;
  color: black ;
  border: none !important;
  width: 80px;
  height: 40px;
  border-radius: 10%;
}

.petButton:hover {
  background-color: blueviolet;
  color: white;
}

/* .petstext {
  padding-bottom: 5%;
} */

.profileCards {
  margin: auto;
  padding: 3% 1%;
}

.dogspage {
  margin: auto;
  padding: 5% 0;
  line-height: 2rem;
}

.dogstext {
  text-align: center;
  line-height: 2rem;
}

.specialCare {
  margin: auto;
  border: 3px solid black;
  background-color: #fffda2;
  width: 80%;
  margin-top: 5%;
}

.specialCareText {
  text-align: center;
  padding: 10px;

}

.adoptProcess {
  padding: 5% 4%;
}

@media screen and (max-width: 600px ) {
  .processHead {
    padding-top: 5%;
  }
}


.petbutton {
  background-color: #fffda2;
  border: none;
  margin: 0 2%;
}

.quote {
  position: relative;

}

.quote img {
  opacity: .80;
  width: 100%;
  height: 500px;
  object-fit:cover;
  object-position:50% 50%;  
}

@media screen and (max-width: 600px ) {
  .quote img {
    max-width: 600px;
  }
}

.quoteText {
  position: absolute;
  line-height: 1.5rem;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0 20%;
}

@media screen and (max-width: 600px ) {
  .quoteText {
    padding: 0 15%;
    
  }
}


/* ---------------- */

/* forms */

.form {
  padding: 0;
  padding-left: 5%;
}

input, label , textarea {
  display: block;
}

input[type="checkbox"]{
  display: inline-block;
  
}


label {
  width: 200px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 10px 0;
}

input {
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

}

textarea {
  width: 100%; 
  height: 150px; 
  border: none;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.formPad {
  padding: 2% 0%;

}

.formPad input {
  display: inline; 
  margin: 1%;
  padding: 2% 3%;
}

/* -------------- */

/* Donation form */

.donationForm {
  background-color: #BAFFB4;
  margin: auto;
  line-height: 3rem;
  padding: 6% 5%;
}

.donationText {
  padding-left: 25px;
  padding-bottom: 15px;
}

.btn {
  background-color: #fffda2 !important;
  border-style: none;
  width: 200px;
  height: 80px;
  text-align: center;
  border-radius: 10px;
  font-size: 2rem !important;
  
}

.thankyou {
  padding-top: 2%;
  margin: auto;
  text-align: center;
}

/* ------------------ */


/* Support Page */

.support {
  padding: 3% 3%;
  line-height: 3rem;
  margin: auto;
}

.supportTitle {
  text-align: center;
  padding: 2% 0;
}

/* -------------- */




