/* Overall */

a {
  color: black !important;
  text-decoration: none !important;
}

.navbar {
  background-color: #ffab76;
  padding: 1.3% 1% !important;
  font-size: 25px;
}

.logo {
  width: 150px;
  height: 120px;
}

.logoText {
  text-align: center;

}

.footer {
  background-color: #ffab76;
  padding: 3% 0 3% 3%;
  
}

.firstImage {
  width: 100%;
  background-size: 100%;
}

.sidecomp {
    background-color: #BAFFB4;
    color:  #000 !important;
    text-decoration: none !important;

}

.sidecomp h3:hover {
  background-color: #BAABDA;
  transform: translate(-15px, -15px);
	border-color: #ffb7b7;
}

.vertical_dotted_line
{
    border-left: 3px dashed black;
    height: 300px;
} 

.homelogo {
  padding-top: 20px
}

.donateButton {
  background-color: #fffda2 !important;
  font-weight: bold;
  color: black !important;
  border: none !important;
}

.sidepic {
  margin-left: 11%;
}

.faq {
  padding: 6% 10%;
  line-height: 3rem;
}

.faq h1 , h6 {
  font-weight: bolder;
}
/* ---------- */



/* shop */


.cardBody {
  background-color: #ffab76;
  color: white;
}

.displayItems {
    margin: auto;
    padding: 3% 1%;
    text-align: center;

}

.cardShop {
  border: none !important;

}

.yourCart {
    margin: auto;
    padding: 3% 1%;
    text-align: center;
}

/* --------------- */

/* Home page */

.homeImage {
  position: relative;
  
}

.homeDonateText {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 3%;
  left: 40%;
  transform: translate(-3%, -45%);
  font-size: 30px;
  display: inline;
}

.homeNews {
  text-align: center;
  padding: 5% 3%;
}

.newsletter {
  padding: 3% 1%;
}

.newsletter input {
  display: inline; 
}

.homeButton {
  background-color: #fffda2;
  border: none;
  border-radius: 12px;
  margin: 4px 2px;
  font-weight: bold;
}


/* -------------- */



/* About page */

.aboutPage {
  text-align: center;
  padding: 3% 2%;
}

.aboutNav {
  margin: auto;
  padding: 5% 2%;
  line-height: 2rem;
  text-align: left;
}


/* Adoption page */


.adoptionPage {
  background-color: #BAFFB4;
}

.adoptionNav {
  margin: auto;
  padding: 5% 0;
  line-height: 2rem;
}

.petHeadshotLink {
  justify-items: left;
  text-align: center;
  padding: 2% .85%;
}

.petHeadshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.petButton {
  background-color: #ffab76;
  font-weight: bold;
  color: black !important;
  border: none !important;
  width: 80px;
  height: 40px;
  border-radius: 10%;

}

.petstext {
  padding-bottom: 5%;
}

.profileCards {
  margin: auto;
  padding: 3% 1%;
}

.specialCare {
  margin: auto;
  border: 3px solid black;
  background-color: #fffda2;
  width: 50%;
}

.specialCareText {
  text-align: center;
  padding: 10px;

}

.petbutton {
  background-color: #fffda2;
  border: none;
  margin: 0 2%;
}

.quote {
  position: relative;
  
}

.quote img {
  width: 100%;
  height: 50%;
  opacity: .80;
  
}

.quoteText {
  position: absolute;
  line-height: 1.5rem;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);

}


/* ---------------- */

/* forms */

.form {
  padding: 5% 5%;
}

input, label , textarea {
  display: block;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  height: 30px;
  margin: 0;
  padding: 0;
}

input[type="number"] {
  width: 240px;
}

textarea {
  width: 170%; 
  height: 150px; 
}

.formPad {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

.formText {
  padding-bottom: .75%;
  padding-top: .75%;
}
/* -------------- */

/* Donation form */

.donationForm {
  background-color: #BAFFB4;
  margin: auto;
  line-height: 3rem;
}

.donationText {
  padding-left: 25px;
  padding-bottom: 15px;
}

.btn {
  background-color: #fffda2 !important;
  border-style: none;
  width: 200px;
  height: 80px;
  text-align: center;
  border-radius: 10%;
  
}

.thankyou {
  padding-top: 2%;
  margin: auto;
  text-align: center;
}

/* ------------------ */


/* Support Page */

.support {
  padding: 3% 3%;
  line-height: 3rem;
  margin: auto;
}

.supportTitle {
  text-align: center;
  padding: 2% 0;
}

/* -------------- */




